# Format demand data to hourly

In [1]:
import pandas as pd

In [83]:
data_path = "/g/data/w42/dr6273/work/projects/Aus_energy/data/energy_demand/"

In [84]:
dem = pd.read_csv(
    data_path+"2010_2020demand.zip",
    header=3,
    parse_dates={'timestamp': ['Date','Time']},
    index_col="timestamp",
    usecols=["Date", "Time", "NSW1", "QLD1", "SA1", "TAS1", "VIC1"]
)

In [85]:
dem.head()

                        NSW1     QLD1      SA1    TAS1     VIC1
timestamp
2010-01-01 00:30:00  7809.31  5422.25  1385.23  947.59  5111.02
2010-01-01 01:00:00  7483.69  5315.98  1338.53  926.52  4960.03
2010-01-01 01:30:00  7117.23  5186.70  1260.39  906.13  5283.40
2010-01-01 02:00:00  6812.03  5050.83  1189.31  907.17  5046.15
2010-01-01 02:30:00  6544.33  4924.74  1141.12  895.16  4796.18

Group and sum by day

In [86]:
dem_daily = dem.resample("D").sum()

Remove last row as is first 30 mins of 2021

In [87]:
dem_daily = dem_daily.iloc[:-1]

Rename columns

In [88]:
dem_daily.columns = ["NSW", "QLD", "SA", "TAS", "VIC"]

In [89]:
dem_daily

                  NSW        QLD        SA       TAS        VIC
timestamp
2010-01-01  366426.94  270922.60  58749.45  46703.06  234477.41
2010-01-02  459123.53  303356.93  71982.56  53218.28  284912.27
2010-01-03  410918.35  314498.72  61490.22  53723.08  263038.04
2010-01-04  408841.92  298598.10  74069.93  54130.85  277582.66
2010-01-05  383277.70  269728.22  59932.28  54557.00  244503.00
...               ...        ...       ...       ...        ...
2020-12-27  317503.11  276692.57  50880.38  48083.03  192275.12
2020-12-28  322861.85  290005.98  43546.54  48170.45  171584.18
2020-12-29  327193.07  313604.84  45645.87  50678.64  181074.75
2020-12-30  329192.35  310447.46  47700.94  49985.36  187464.67
2020-12-31  326846.72  297679.46  44031.23  51552.13  189802.40

[4018 rows x 5 columns]

Write

In [90]:
dem_daily.to_csv(
    data_path+"daily_demand_2010-2020.csv"
)

Also calculate monthly

In [91]:
dem_monthly = dem_daily.resample("M").sum()

In [92]:
dem_monthly

                    NSW         QLD          SA         TAS         VIC
timestamp
2010-01-31  13297342.31  9554172.83  2240983.61  1678068.36  8516730.03
2010-02-28  11889680.43  8391916.62  2083251.35  1484055.73  7765037.59
2010-03-31  12959492.94  8902683.50  2322883.65  1677177.26  8693328.92
2010-04-30  12169095.81  8574232.63  2134658.16  1650827.92  8227959.36
2010-05-31  13240014.62  8749833.01  2307900.33  1811500.18  8752020.09
...                 ...         ...         ...         ...         ...
2020-08-31  11647115.54  8518447.32  1967399.45  1713742.13  7267532.45
2020-09-30  10549502.60  8271448.08  1767606.82  1622902.59  6627472.18
2020-10-31  10922350.64  8767387.89  1758001.18  1630707.23  6736176.30
2020-11-30  10921346.09  8981129.23  1723864.15  1523886.58  6675536.76
2020-12-31  10862784.53  9370701.02  1701792.43  1596538.28  6631642.54

[132 rows x 5 columns]

In [93]:
dem_monthly.to_csv(
    data_path+"monthly_demand_2010-2020.csv"
)